/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Lato, sans-serif;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.searchparent{
   float: right;
   padding-right: 5%;
    }

@media screen and (min-width: 768px) {
.searchparent {
    padding-right: 10%;
    }
    }
                

/* menu with links starts here */



.menu {
    width: 100%;
    height: 100%;
    top: 10px;
    flex-wrap: wrap;
    display: flex;
    }

@media screen and (min-width: 768px) {
.menu {
    width: 90%;
    padding-left: 10%;
    }
    }
        

a:link {
    color: lightblue;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: lightblue;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    }

a:hover {
    color: rgb(8, 91, 146);
    }



/* main article starts here */



.headerwrapper {
    position: relative;
}  

.dummybox1 {
    width: 100%;
}

@media screen and (min-width: 320px) {
.dummybox1 {
    max-width: 100%;
    }
    }

@media screen and (min-width: 1600px) {
.dummybox1 {
    width: 80%;
    padding-left: 10%;
    }
    }

.header1 {
    height: 180px;
    width: 100%;
    background-color: rgb(6, 125, 165);
    margin-bottom: 25px;
    }

@media screen and (min-width: 768px) {
    .header1{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    }
    }    

.headline {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Lato, sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: white;
    text-decoration-color: none;
    }

.headlinetext {
    position: absolute;
    margin-left: 10px;
    margin-top: 70px;
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
    }

.headlinebox {
    position: absolute;
    padding-left: 15px;
    padding-right: 80px;
    margin-left: 10px;
    margin-top: 115px;
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: rgb(6, 125, 165);
    background-color: white;
    }

.headlinetextwrapper {
    position: relative;
}

.icon1 {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke:  rgb(6, 125, 165);
    fill:  rgb(6, 125, 165);
    position: absolute;
    top: 120px;
    left: 150px;
    
}



/* breadcrumbs starts  here */



.breadcrumbs {
    position: relative;
    left: 5%;
    width: 90%;
    height: auto;
    }

@media screen and (min-width: 1024px) {
    .breadcrumbs {
    width: 80%;
    left: 10%;
    }
    }



/* main-article with grid here */



.mainwrapper {
    position: relative;
    }

@media screen and (min-width: 1024px) {
.mainwrapper {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px;
    }  
    }
    
.mainarticle {
    height: auto;
    margin-bottom: 10px;
    }



/* content collumn left starts here */



.titletext {
    float: left;
    padding-left: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: black;
    }

.subject {
    float: left;
    padding-left: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: black;
    }

.dummybox2 {
    width: 100%;
    float: left;
    margin-right: 20px;
    max-width: 480px;
    max-height: 240px;
    }

.loremipsum1 {
    width: 100%;
    margin-left: 5px;
    flex: wrap;
    font-family: Lato, sans-serif; 
    font-size: 14px;
    }

.videosection {
    width: 100%;
    float: left;
    margin-left: 5px;
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 25px;
    color: black;
    }

.wrapiconinres {
    position: relative;
    float: right;
    height: auto;
    }

@media screen and (min-width: 200px) {
.resolution {
    max-width: 100%;
    }  
    }

.iconplay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5em;
    height: 2.5em;
    padding: 10px;
    stroke-width: 0;
    stroke: white;
    fill: white;
    background-color: #000;
    border-radius: 50%;
    opacity: 0.5;
    }

.loremipsum2 {
    width: 100%;
    margin-left: 5px;
    flex: wrap;
    font-family: Lato, sans-serif; 
    font-size: 14px;
    }


/* teaser section starts here */



.teasercontainer {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    }

.teaserheader {
    font-family: Lato, sans-serif;
    font-size: 30px;
    color: black;   
    margin-left: 5px;
    margin-bottom: 0px;
    }

.teasertext {
    float: left;
    width: 90%;
    margin-left: 5px;   
    }

.littlelist {
    float: left;
    width: 80%;
    margin-left: 5px;
    margin-top: 0px;
    }

.wraparrowtolink1 {
    float: right;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.iconarrowlink1 {
    position: absolute;
    left: 5px;
    top: 9px;
    width: 10px;
    height: 10px;
    stroke-width: 0;
    stroke:lightblue;
    fill:lightblue;
}

.wraparrowtolink2 {
    float: right;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.iconarrowlink2 {
    position: absolute;
    left: 5px;
    top: 9px;
    width: 10px;
    height: 10px;
    stroke-width: 0;
    stroke:lightblue;
    fill:lightblue;
}

table {
    border-collapse: collapse;
    width: 100%;
    }
    
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    }

th {
    background-color:#6ba1ce;
    }

/* aside collumn right starts here */


    
.subheadline {    
    width: 100%;
    min-width: 100%;
    height:auto;
    }

@media screen and (min-width: 1024px) {
.subheadline {
    width: 100px;
    }  
    }

.asidemain {
    height: 100%;
    margin-bottom: 10px;
    }

.iconsection {
    display: inline-block;
    width: 3em;
    height: 3em;
    stroke-width: 0;
    stroke:lightgray;
    fill:lightgray;
    }


.wrappersvg {
    height: 650px;
    width: 100%;
    }


.iconlist {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
    }

.topinfo {
    color: black;
    padding-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    border-bottom: 1px solid lightgray;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    font-size: 20px;
 
    }

@media screen and (min-width: 1024px) {
.topinfo {
    padding-top: 0px;
    }   
    }   


.item1 {
    display: flex;
    height: 60px;
    padding-top: 15px;
    padding-left: 25px;
    border-bottom: 1px solid lightgray;
    }

@media screen and (min-width: 1024px) {
    .item1 {
    padding-bottom: 10px;
    }
    }
    

.titlecontent {
    color: #6ba1ce;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 15px;
    }

.titleinfo {
    color: rgb(165, 165, 165);
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    }

.item1text {   
    display: block;
    padding: 0px;
    padding-left: 10px;
    margin-top: 1px;
    margin-bottom: 0px;
    padding-top: 0px;
    }


/* and.... the foooooter*/


.footer {
    height: 130px;
    width: 100%;
    background-color: rgb(160, 69, 74);
    }








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
