/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Lato, sans-serif;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Font section */

h1{
    font-size: 34px;
    font-weight: 300;

}

h2{
    font-size: 28px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3{
    font-size: 20px;
    font-weight: 200;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.headershrink {
    background-color:white;
    position: sticky;
    display: grid;
    grid-column-gap: 0px;
    grid-template-rows: 40px 30px;
    z-index: 99;
    top: 0px;
    min-height: 67px;
    box-shadow: 0px 1px 5px 1px rgb(6, 125, 165);
}

.showheadershrink {
    grid-template-rows: 0px 30px;
    transition: 0.7s;
    min-height: 30px !important;
}

/* searchy at top */

.wrapsearch {
    position: relative;
    opacity: 0;
    transition: 0.5s;
    height: 40px;
    justify-self: flex-end;
}

.show {
    opacity: 1;
    transition: 0.7s;
}

.searchparent {
    margin-right: 10%;
    margin-top: 5px;
}

.searchhide {
    display: none;
    transition: 0.7s;
}

.searchparent input[type=text] {
    height: 25px;
    width: 225px;
    background-color: lightgrey;
    border-style: none;
    border-radius: 40px;
    margin-right: 10px;
}

.icon-icon-search {
    position: absolute; 
    left: 200px;
    top: 10px;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: #0d62a8;
    fill: #0d62a8;
}

@media screen and (min-width: 768px) {
    .searchparent {
        margin-right: 200px;
    }
}

/* menu with links starts here */

.biglinkwrap {
    display: flex;          
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .biglinkwrap {
        width: 90%;
        padding-left: 10%;
    }
}

.dropdown {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    transition: 0.7s;
    position: relative;
    display: inline-block;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color:rgb(6, 125, 165);
    /* padding: 16px; */
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: none;
}

/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.linknav {
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    transition: 0.7s;
}

a:link:hover {
    color: rgb(8, 91, 146);
}

a:link {
    color: #6ba1ce;
    text-decoration: none;
}


.fontchange {
    font-size: 16px;
    margin-right: 0px;
    transition: 0.7s;
}
/* new slider start */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  min-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

@media screen and (min-width: 480px) {
    .prev, .next  {
        top: 40%;
    }    
}

@media screen and (min-width: 768px) {
    .prev, .next  {
        top: 50%;
    }    
}

@media screen and (min-width: 1600px) {
    .prev, .next  {
        margin-left: 11%;
        margin-right: 11%;
    }    
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotsonimage {
    position: absolute;
    margin-top: -230px;
    text-align: center;
    right: 0;
    left: 0;
}

@media screen and (min-width: 768px) {
    .dotsonimage {
    position: absolute;
    margin-top: -50px;
    }
}    

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* New slider ends */


/* main article starts here */


.headerwrapper {
    position: relative;
}  

@media screen and (min-width: 1600px) {
    .headerwrapper {
        background-color: #6ba1ce;
    }    
}

.dummybox1 {
    width: 100%;
}

@media screen and (min-width: 320px) {
    .dummybox1 {
        max-width: 100%;
    }
}

@media screen and (min-width: 1600px) {
    .dummybox1 {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.header1 {
    height: 180px;
    width: 100%;
    background-color: rgb(6, 125, 165);
}

@media screen and (min-width: 768px) {
    .header1{
        position: absolute;
        width: 30%;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
    }
}    

.headline {
    position: absolute;
    margin: 10px 0px 0px 10px;
    font-weight: 100;
    color: white;
    display: none;
}

.headlinetext {
    position: absolute;
    margin-left: 10px;
    margin-top: 70px;
    font-weight: 300;
    color: white;
    display: none;
}

.headlinebox {
    position: absolute;
    padding-left: 15px;
    padding-right: 80px;
    margin-left: 10px;
    margin-top: 115px;
    font-weight: normal;
    font-size: 18px;
    color: rgb(6, 125, 165);
    background-color: white;
}

.headlinetextwrapper {
    position: relative;
}

.icon1 {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    stroke-width: 0;
    stroke:  rgb(6, 125, 165);
    fill:  rgb(6, 125, 165);
    top: 118px;
    left: 200px;  
}



/* breadcrumbs starts  here */



.breadcrumbs {
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 12px;
    margin-left: 15px;
}

@media screen and (min-width: 1600px) {
    .breadcrumbs {
        margin-left: 10%;
    }
}

.breadcrumblinkhome {
    flex-grow: 0.02;
}

.breadcrumblinktestfolder {
    flex-grow: 0.02;
}

.breadcrumblinktestonly {
    flex-grow: 0.02;
}

.breadcrumbarrows {
    width: 10px;
    height: 10px;
    stroke-width: 0;
    stroke:lightblue;
    fill:lightblue;
}


/* main-article with grid here */


.mainwrapper {
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (min-width: 1024px) {
    .mainwrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 30px;
    }
}

@media screen and (min-width: 1600px) {
    .mainwrapper {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 30px;
    }
}
    
.mainarticle {
    height: auto;
    margin-bottom: 10px;
}

/* content collumn left starts here */

.titletext {
    margin-bottom: 10px;
}

.subject {
    margin-bottom: 10px;
}

.dummybox2 {
    float: left;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 15px;
    max-width: 500px;
    max-height: 240px;
}

/* something is not right here at the 
vidsec, at 5000px the text jumps up
to the next section */

.mainvideotextwrap{
    display: block;
    width: 100%;
}

.videosection {
    margin-bottom: 10px;
    padding-top: 20px;
}

.wrapiconinres {
    position: relative;
}

@media screen and (min-width: 0px) {
    .resolution {
        max-width: 100%;
    }  
}

.iconplay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5em;
    height: 2.5em;
    padding: 10px 10px 10px 10px;
    stroke-width: 0;
    stroke: white;
    fill: white;
    background-color: #000;
    border-radius: 50%;
    opacity: 0.5;
}

/* teaser section starts here */

.teasercontainer {
    margin-bottom: 50px;
}

.teaserheader {  
    margin-bottom: 0px;
}

.littlelist {
   padding-inline-start: 20px;
}

.wraparrowtolink1 {
    position: relative;
    margin-bottom: 20px;
}

.iconarrowlink1 {
    position: absolute;
    top: 8px;
    width: 10px;
    height: 10px;
    stroke-width: 0;
    stroke:lightblue;
    fill:lightblue;
}

.wraparrowtolink2 {
    position: relative;
    margin-bottom: 20px;
}

.iconarrowlink2 {
    position: absolute;
    top: 8px;
    width: 10px;
    height: 10px;
    stroke-width: 0;
    stroke:lightblue;
    fill:lightblue;
}

.cilinks:link {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
    
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

th {
    background-color:#6ba1ce;
    color: white;
    font-weight: 400;
}

.quotewrap {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left:  5px;
    margin-right: 5px;
}

q {
    quotes: "“" "”";
    font-size: 22px;
    font-weight: 300;
    padding-left: 0px;
  }

  q:before { 
    content: open-quote;
    font-size: 6em;
    line-height: 0px;   
    vertical-align: -0.52em;
    margin-left: -80px;
    display: inline-block; 
    margin-bottom: -50px;
  }

  q:after {
      content: close-quote;
      font-size: normal; 
      margin-left: 0.25em;
  }

.hero {
      text-indent: 18px;
      padding-left: 38px;
  }

/* Forms start here */

.formheadline {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type=text] {
    width: 100%;
    height: 30px;
}

.textareaform {
    width: 100%;
}

.numberform {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .sectiontextwrap {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
    }  
}

@media screen and (min-width: 768px) {
    .sectiontext {
        text-align: right;
        margin: 5px;
    }  
}

@media screen and (min-width: 768px) {
    .sectionmandatorywrap {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
    }  
}

@media screen and (min-width: 768px) {
    .sectiontextmandatory {
        text-align: right;
        margin: 5px;
    }  
}

@media screen and (min-width: 768px) {
    .sectionnumberwrap  {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
    }  
}

@media screen and (min-width: 768px) {
    .sectionnumber {
        text-align: right;
        margin: 5px;
    }  
}


@media screen and (min-width: 768px) {
    .sectiontextareawrap  {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
    }  
}

@media screen and (min-width: 768px) {
    .sectiontextarea {
        text-align: right;
        margin: 5px;
    }  
}

@media screen and (min-width: 768px) {
    .checkboxwrap  {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
        margin-top: 20px;
    }  
}

@media screen and (min-width: 768px) {
    .checkboxtext {
        text-align: right;
        margin: 0px;
    }  
}

@media screen and (min-width: 768px) {
    .radiowrap  {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
        margin-top: 20px;
    }  
}

@media screen and (min-width: 768px) {
    .radiotext {
        text-align: right;
        margin: 0px;
    }  
}

@media screen and (min-width: 768px) {
    .selectboxwrap  {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
        margin-top: 20px;
    }  
}

@media screen and (min-width: 768px) {
    .selectboxtext {
        text-align: right;
        margin: 0px;
    }  
}

@media screen and (min-width: 768px) {
    .emailmandatorywrap  {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
        margin-top: 20px;
    }  
}

@media screen and (min-width: 768px) {
    .emailmandatorytext {
        text-align: right;
        margin: 5px;
    }  
}

.sendcancelbuttonwrap {
    margin-top: 40px;
    border-top: 1px solid lightgray;
    padding-top: 30px;
}

@media screen and (min-width: 768px) {
    .sendcancelbuttonwrap  {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 20px;
        margin-top: 20px;
    }  
}

@media screen and (min-width: 768px) {
    .sendcancelbutton {
        width: 100%;
        margin: 5px;
        padding: 0px;

    }  
}

@media screen and (min-width: 768px) {
    .buttonssendcanceltext {
        width: 100%;
        margin: 5px;
        padding: 0px;
        text-align: right;
    }  
}

.buttonssendcanceltext {
    margin: 0px;
    padding-top: 5px;
}

.colorbuttonsend {
    background-color: #6ba1ce;
    padding: 5px;
    margin-right: 10px;
    color: white;
    font-weight: 100;
    border: 1px solid #6ba1ce;
}

.colorbuttoncancel {
    background-color: lightgrey;
    padding: 5px;
    color: white;
    font-weight: 100;
    border: 1px solid lightgrey;
}

/* aside collumn right starts here */

.asidetopwrapper {
    width: auto;
    height: auto;
}

.subheadline {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.imagetextwrapper {
    display: inline-block;
    margin-top: 20x;
    
}

.asideimage {
    float: left;
    margin-right: 15px;
}

.imageandlinkwrapper {
    display: grid;
}

.asidevideotext {
    position: relative;
    display: grid;
    margin-top: 0px;
    font-size: 16px;
}


#sendemail {
    font-size: 6px;
}   

.iconarrowlink3 {
    width: 15px;
    height: 15px;
    vertical-align: -0.1em;
    stroke-width: 0;
    stroke:lightblue;
    fill:lightblue;
}

.icon-arrow-right3 {
    position: absolute;
 
}

.linkmarginfix:link {
    color: lightblue;
    text-decoration: none;
}


.asidemain {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .asidemain {
        margin-left: 0px;
    }  
}


.iconsection {
    display: inline-block;
    width: 3em;
    height: 3em;
    stroke-width: 0;
    stroke:lightgray;
    fill:lightgray;
}


.iconlist {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

.topinfo {
    padding-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    border-bottom: 1px solid lightgray;
}


.item1 {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}


.titlecontent {
    color: #6ba1ce;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 15px;
}

.titleinfo {
    display: inline-block;
    color: rgb(165, 165, 165);
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 15px;
}

.titleinfo span {
    display: flex;
} 

.mb {
    display: inline-block;
    color: rgb(165, 165, 165);
    font-weight: lighter;
    font-size: 15px;
    margin: 0px;
}

@media screen and (min-width: 1239px) {
    .titleinfo {
        word-break: break-all;
    }
}

.item1text {   
    display: block;
    padding: 0px;
    padding-left: 10px;
    margin-top: 1px;
    margin-bottom: 0px;
    padding-top: 0px;
}


/* teaser section enabled */

.wrapsectionteaser {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}


@media screen and (min-width: 768px) {
    .wrapsectionteaser {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }  
}


@media screen and (min-width: 0px) {
    .teaserimage1500 {
       width: 100%;
    }  
}

.lastlink:link {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.textstuffwrap {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .textstuffwrap {
        margin-top: 0px;
    }  
}

.teaserrow {
    font-size: 24px;
}

.wrapsectionmore {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.teasers2 {
    margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
    .wrapsectionmore {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }  
}

@media screen and (min-width: 0px) {
    .teaserimage768{
       width: 100%;
    }  
}

.timingofvideo {
    text-align: right;
}

hr{
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
margin-left: 15px;
margin-right: 15px;
}

@media screen and (min-width: 1024px) {
    hr{
       width: 80%;
       margin-right: 1%;
       margin-left: 10%;
    }  
}

@media screen and (min-width: 0px) {
    .teaserimage169{
       width: 100%;
    }  
}

.teaserrowheadline{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .teaserrowheadline{
        margin-right: 10%;
        margin-left: 10%;
    }  
}

.iconplayagain1 {
    position: relative;
}

.iconplayagain2 {
    position: relative;
}

.wrapinsomethingelse {
    height: auto;
}

.testvideorow {
    margin-bottom: 5px;
}

.bigfinalwrapper {
    margin-right: 15px;
    margin-left: 15px;
}


@media screen and (min-width: 600px) {
    .bigfinalwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 0fr;
        grid-column-gap: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }  
}

@media screen and (min-width: 1024px) {
    .bigfinalwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }  
}

@media screen and (min-width: 1024px) {
    .thisisatestvideowrap {
    grid-area: 2/3/3/1;
}
}

.thisisatestvideowrap {
    margin-top: 20px;
    margin-right: 5px;
}

@media screen and (min-width: 1024px) {
    .finalgrid2wrap {
    grid-area: 1/2/3/3;
    
}
}

.subheadline2 {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0px;
    padding-bottom: 10px;
}


/* and.... the foooooter*/


.wrapfooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(77, 77, 77);
    padding-bottom: 30px;
    margin-top: 80px;
}

@media screen and (min-width: 768px) {
    .wrapfooter {
        padding-bottom: 10px;
        flex-direction: row;
    }
}

.wrapfooterlink {
    margin-top: 5px;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .wrapfooterlink {
        margin-left: 10px;
        margin-top: 20px;
    }
}

.footer {
    color: white;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.iconarrowlink5 {
    width: 10px;
    height: 10px;
    vertical-align: -0.1em;
    stroke-width: 0;
    stroke:white;
    fill:white;
}

.icon-arrow-right5 {
    position: absolute;
}

.linkfooter:link {
   color: white;
   text-decoration: none;
   font-size: 12px;
   padding-top: 20px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
